{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container login">
        <div class="form">
            <h2>Create Project</h2>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert"> 
                <span class="glyphicon glyphicon-exclamation-sign"
                    aria-hidden="true">
                </span> 
                <span class="sr-only">Error:</span> 
                Error creating the project. Please try again.
            </div>
            {% endif %}

            <form enctype="multipart/form-data" method="post" action="{% url 'create_project' %}">
            {% csrf_token %}
            {{ form.as_p }}
            
            <a class="btn btn-primary" href="{% url 'dashboard' %}"
                role="button">Back</a>
            <input type="submit" value="Create Project" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('#id_name').attr('placeholder', "Creativity Ranking Project");
        $('#id_pairwise_prompt').attr('placeholder', "Which design is more creative?");
        $('#id_pairwise_prompt').attr('rows', "2");
        $('#id_individual_likert_prompt').attr('placeholder', "This design is creative.");
        $('#id_individual_likert_prompt').attr('rows', "2");
    });
</script>

{% endblock %}
