{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div style="padding: 20px;" class="text-center">
        <h5>(Answer question at bottom)</h5>
    </div>

    <div style="display:block; width: 100%; clear: both;">
        <div style="width: 49%; text-align:center;
            border-style:solid; border-width:3px; margin: auto;">
            <div id="image">
                <img style="width:100%;" src="{{ item.image.url }}"/>
            </div>
        </div>
    </div>

    <form method="post" action="{% url 'vote_likert' project.id %}">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <div style="display:block; width:100%; clear: both; padding: 20px;">
            <h4 style="margin-left: auto; margin-right: auto; width:
            400px" class="text-center">{{ project.individual_likert_prompt }}</h4>
            <div style="margin-left:auto; margin-right:auto; width: 300px;
                padding-left: 80px">
                <fieldset>
                    <input id="l7" name="rating" type="radio" value="7"
                    required />&nbsp;{{ project.likert_label_7 }}</strong><br />
                    <input id="l6" name="rating" type="radio" value="6"
                    />&nbsp;{{ project.likert_label_6 }}</strong><br />
                    <input id="l5" name="rating" type="radio" value="5"
                    />&nbsp;{{ project.likert_label_5 }}</strong><br />
                    <input id="l4" name="rating" type="radio" value="4"
                    />&nbsp;{{ project.likert_label_4 }}</strong><br />
                    <input id="l3" name="rating" type="radio" value="3"
                    />&nbsp;{{ project.likert_label_3 }}</strong><br />
                    <input id="l2" name="rating" type="radio" value="2"
                    />&nbsp;{{ project.likert_label_2 }}</strong><br />
                    <input id="l1" name="rating" type="radio" value="1"
                    />&nbsp;{{ project.likert_label_1 }}</strong><br />
                </fieldset>
            </div>
        </div>

        <div style="text-align:center; width: 100%; padding: 10px;">
            <button id="submit">Submit</button>
            <br/><br/>
        </div>
    </form>

    <hr>

    <div style="text-align: center; width: 100%; padding: 10px;">
        <p>Rater Key: {{ key }}</p>
        <p># of Individual Ratings: {{ count }}</p>
    </div>
    

<script>
    $(function(){
        $('body').css("padding-top", "0px");
    });
</script>
    

{% endblock %}

