{% extends "base.html" %}

{% block content %}


<div class="jumbotron">
    <div class="container login">
        <div class="form">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert"> 
                <span class="glyphicon glyphicon-exclamation-sign"
                    aria-hidden="true">
                </span> 
                <span class="sr-only">Error:</span> 
                Your username and password didn't match. Please try again.
            </div>
            {% endif %}
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign In" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
