{% extends "base.html" %}
{% load tz %}

{% block content %}
    <p>
        <div>
            <a class="btn btn-primary" href="{% url 'dashboard' %}"
                role="button">Back</a>
            <a class="btn btn-primary" href="{% url 'rate' project.id %}"
                role="button">Live Rating Link</a>
            <a class="btn btn-primary" href="{% url 'export_rankings' project.id %}"
                role="button">Export Model Values</a>
            <a class="btn btn-primary" href="{% url 'export_ratings' project.id %}"
                role="button">Export Pairwise Ratings</a>
        </div> 
    </p>

    <h3>Project Overview</h3>
    <table class="table table-striped table-bordered bottom-table">
        <tbody>
        <tr><td><strong>Project Name</strong></td><td>{{ project.name }}</td></tr>
        <tr><td><strong>Prompt</strong></td><td>{{ project.prompt }}</td></tr>
        <tr><td><strong># of ratings collected</strong></td><td>{{ project.ratings.all | length }}</td></tr>
        </tbody>
    </table>

    <h3>Item Estimates</h3>
    <table class="table table-striped table-bordered bottom-table">
        <thead>
            <tr>
                <th class="text-center">Items</th>
                <th class="text-center">Images</th>
                <th class="text-center">Parameter Distribution</th>
                <th class="text-center">Parameter Estimates +/- 95% CI</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in project.items.all %}
            <tr>
                <td style="vertical-align: middle" class="text-center"> {{ item.name }} </a></td>
            <td style="vertical-align: middle" class="text-center">
                <a data-remote="{% url 'view_item' item.id %}" data-toggle="modal"
                        data-target="#myModal">
                        <img style="width:100px;" src="{{ item.image.url }}"/></a>
            </td>
            <td style="vertical-align: middle; padding-top:30px; margin:0px;">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning"
                        id="{{item.id}}-lower-fill"
                        style="width: 33%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-success"
                        id="{{item.id}}-lower-conf"
                        style="width: 16.5%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-danger"
                        style="width: 1%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-success"
                        id="{{item.id}}-upper-conf"
                        style="width: 16.5%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-warning"
                        id="{{item.id}}-upper-fill"
                        style="width: 33%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </td>
            <td style="vertical-align: middle" class="text-center"> {{ item.mean|floatformat:"3" }}
                +/- {{ item.conf|floatformat:"3" }} {{ item.lower_value }}</td>
            <td style="vertical-align: middle" class="text-center"> 
                <a href="{% url "delete_item" item.id %}" onclick="return confirm('Are you sure you want to delete this item?');"
                class="btn btn-danger">Delete</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Judge Discrimination Estimates</h3>
    <table class="table table-striped table-bordered bottom-table">
        <thead>
            <tr>
                <th class="text-center">Judge ID</th>
                <th class="text-center">Judge HashKey</th>
                <th class="text-center"># Ratings from Judge</th>
                <th class="text-center">Discrimination</th>
            </tr>
        </thead>
        <tbody>
            {% for judge in judges %}
            <tr>
                <td style="vertical-align: middle" class="text-center"> {{ judge.id }} </a></td>
                <td style="vertical-align: middle" class="text-center"> {{ judge.get_hashkey }} </a></td>
                <td style="vertical-align: middle" class="text-center"> {{ judge.ratings.all |length }} </a></td>
                <td style="vertical-align: middle" class="text-center">{{ judge.discrimination|floatformat:"3" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(function(){
            var means = {};
            var confs = {};

            {% for item in project.items.all %}
                means[{{item.id}}] = {{item.mean}};
                confs[{{item.id}}] = {{item.conf}};
            {% endfor %}

            var max = -999999999999999;
            var min = 999999999999999;
            for (key in means){
                if ((means[key] + confs[key]) > max) {
                    max = means[key] + confs[key]
                }
                if ((means[key] - confs[key]) < min) {
                    min = means[key] - confs[key]
                }
            }
            range = max - min;

            //console.log(means);
            //console.log(confs);
            //console.log(max);
            //console.log(min);

            if (range > 0){
                $.each(means, function(id, value){
                    lower_fill = 100 * (((means[id] - confs[id]) - min) / range);
                    upper_fill = 100 * ((max - (means[id] + confs[id])) / range);
                    conf = (100 * ((confs[id]) / range)) - 0.5;
                    $('#' + id + '-lower-fill').css('width', lower_fill + '%');
                    $('#' + id + '-lower-conf').css('width', conf + "%");
                    $('#' + id + '-upper-conf').css('width', conf + "%");
                    $('#' + id + '-upper-fill').css('width', upper_fill + '%');
                });
            }
        });
    </script>
{% endblock %}

